# Reading and Writing Parquet Files
source:  https://arrow.apache.org/docs/python/parquet.html

In [ ]:
!pip install pyarrow

In [21]:
import pyarrow.parquet as pq
import pandas as pd
import pyarrow as pa

In [22]:
table = pa.Table.from_pandas(df)
pq.write_table(table, '/v3io/bigdata/examples/example.parquet')

In [23]:
table2 = pq.read_table('example.parquet')
table2.to_pandas().head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HPCP,Measurement Flag,Quality Flag
0,COOP:310301,ASHEVILLE NC US,682.1,35.5954,-82.5568,20100101 00:00,99999,],
1,COOP:310301,ASHEVILLE NC US,682.1,35.5954,-82.5568,20100101 01:00,0,g,
2,COOP:310301,ASHEVILLE NC US,682.1,35.5954,-82.5568,20100102 06:00,1,,

In [24]:
# read specific columns
pq.read_table('example.parquet', columns=['age', 'job']).to_pandas().head()

Empty DataFrame
Columns: []
Index: []

In [25]:
# read specific columns, if previously written by Pandas (read extra metadata)
pq.read_pandas('example.parquet', columns=['age', 'job']).to_pandas().head()

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [ ]:
parquet_file = pq.ParquetFile('example.parquet')
parquet_file.schema

In [ ]:
parquet_file.metadata

In [ ]:
# write to multiple partitioned files 
pq.write_to_dataset(table, root_path='my_parq', partition_cols=['HPCP'])

In [ ]:
# read partitioned table
table3 = pq.read_table('my_parq')
table3.to_pandas().head()

In [ ]:
# read with multiple threads
pq.read_table('my_parq', use_threads=4).to_pandas().head()

## Remove Data

In [ ]:
# unmark the comment
#!rm -rf /v3io/bigdata/examples/*